@(metas:List[Meta])
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Metas</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("dist/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("stylesheets/cover.css")" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@routes.Assets.at("dist/js/bootstrap.min.js")"></script>
    
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Quais as suas metas?</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="index">Início</a></li>
                <li><a href="cadastro">Nova Meta</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="grid grid-pad">
        	<div class="col-1-3 panel panel-info"  id="lista-semana-1">
        		<div class="panel-heading">Prazo: 1 semana</div>
        		@for(meta <- metas){        	
        			@if(meta.getPrazo()=="1"){
        				@if(meta.isCumprida()){
        				<div style="background-color: #99FF99">
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a style="float:right"><img src="@routes.Assets.at("images/good.png")"></a>
        					</div>
        				</div>
        				}else{
        				<div>
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a href="@routes.Application.cumprida(meta.getId())"><img src="@routes.Assets.at("images/ok.png")"></a>
        					</div>
        				</div>
        				}
        			}
        		}
        	</div>
        	<div class="col-1-3 panel panel-info" id="lista-semana-2">
        		<div class="panel-heading">Prazo: 2 semanas</div>
        		@for(meta <- metas){        	
        			@if(meta.getPrazo()=="2"){
        				@if(meta.isCumprida()){
        				<div style="background-color: #99FF99">
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a style="float:right"><img src="@routes.Assets.at("images/good.png")"></a>
        					</div>
        				</div>
        				}else{
        				<div>
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a href="@routes.Application.cumprida(meta.getId())"><img src="@routes.Assets.at("images/ok.png")"></a>
        					</div>
        				</div>
        				}
        			}
        		}
        	</div>
        	<div class="col-1-3 panel panel-info" id="lista-semana-3">
        		<div class="panel-heading">Prazo: 3 semanas</div>
        		@for(meta <- metas){        	
        			@if(meta.getPrazo()=="3"){
        				@if(meta.isCumprida()){
        				<div style="background-color: #99FF99">
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a style="float:right"><img src="@routes.Assets.at("images/good.png")"></a>
        					</div>
        				</div>
        				}else{
        				<div>
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a href="@routes.Application.cumprida(meta.getId())"><img src="@routes.Assets.at("images/ok.png")"></a>
        					</div>
        				</div>
        				}
        			}
        		}
        	</div>
		</div>
		
		<div class="grid grid-pad">
        	<div class="col-1-3 panel panel-info" id="lista-semana-4">
        		<div class="panel-heading">Prazo: 4 semanas</div>
        		@for(meta <- metas){        	
        			@if(meta.getPrazo()=="4"){
        				@if(meta.isCumprida()){
        				<div style="background-color: #99FF99">
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a style="float:right"><img src="@routes.Assets.at("images/good.png")"></a>
        					</div>
        				</div>
        				}else{
        				<div>
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a href="@routes.Application.cumprida(meta.getId())"><img src="@routes.Assets.at("images/ok.png")"></a>
        					</div>
        				</div>
        				}
        			}
        		}
        	</div>
        	<div class="col-1-3 panel panel-info" id="lista-semana-5">
        		<div class="panel-heading">Prazo: 5 semanas</div>
        		@for(meta <- metas){        	
        			@if(meta.getPrazo()=="5"){
        				@if(meta.isCumprida()){
        				<div style="background-color: #99FF99">
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a style="float:right"><img src="@routes.Assets.at("images/good.png")"></a>
        					</div>
        				</div>
        				}else{
        				<div>
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a href="@routes.Application.cumprida(meta.getId())"><img src="@routes.Assets.at("images/ok.png")"></a>
        					</div>
        				</div>
        				}
        			}
        		}
        	</div>
        	<div class="col-1-3 panel panel-info" id="lista-semana-6">
        		<div class="panel-heading">Prazo: 6 semanas</div>
        		@for(meta <- metas){        	
        			@if(meta.getPrazo()=="6"){
        				@if(meta.isCumprida()){
        				<div style="background-color: #99FF99">
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a style="float:right"><img src="@routes.Assets.at("images/good.png")"></a>
        					</div>
        				</div>
        				}else{
        				<div>
        					<label class="table_row_nome">@meta.getNome()</label>
        					<label class="table_row_descricao">@meta.getDescricao()</label>
        					<div style="float:right">
        						<a href="@routes.Application.remover(meta.getId())"><img src="@routes.Assets.at("images/delete.png")"></a>
        					</div>
        					<div style="float:right; padding-right: 30px;">
        						<a href="@routes.Application.cumprida(meta.getId())"><img src="@routes.Assets.at("images/ok.png")"></a>
        					</div>
        				</div>
        				}
        			}
        		}
        	</div>
		</div>
      </div>

    </div>
  </body>
</html>
